@import url('style.css');

body {
    height: 100vh;
}


.film-box {
    display: flex;
    justify-content: center;align-items: center;
}

.sec2 {
    display: flex;
    
}

.sec2 h1 {
    font-size: 70px;
}


