@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --black: #101010;
  --primary: #2986fe;
  --second: #f9f9fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin: 0 7%;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--second);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

.nav-links {
  display: flex;

  & ul {
    display: flex;
    gap: 30px;

    & li {
      list-style: none;
      font-size: 15px;
    }
  }
}

nav button {
  background-color: var(--black);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 40px;
}

.hero-content {
  margin: 0 2%;
}

.hero {
  align-items: center;
  background-image: url("https://placehold.co/1374x479");
  background-size: cover;
  position: relative;
  display: flex;
  height: 70vh;
  padding: 50px;
  border-radius: 70px;
}

main {
  overflow-x: hidden;
}

.clipped-container {
  background-color: var(--second);
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  right: 0;
  height: 250px;
  width: 400px;
  border-top-left-radius: 70px;

  &::after {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 30%;
    bottom: 0;
    left: -210px;
    box-shadow: 70px 70px var(--second);
  }

  &::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 30%;
    top: -210px;
    right: 0;
    box-shadow: 70px 70px var(--second);
  }
}

.carousel-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;

    & h1 {
      color: white;
    }
  }

  & .circle:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;

    & h1 {
      color: var(--black);
    }
  }
}

.vertical-line {
  width: 2px;
  height: 100px;
  background-color: white;
}

.left-hero {
  display: flex;
  gap: 50px;
}

.text-hero {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;

  & h1 {
    font-size: 60px;
    color: var(--black);
    letter-spacing: 3px;
    line-height: 1.2;
  }

  & p {
    font-size: 20px;
    color: var(--black);
  }
}

.bottom-left-hero {
  display: flex;
  gap: 45px;
  flex-direction: column;
}

.hero-buttons {
  display: flex;
  gap: 10px;

  & button:first-child {
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 100px;
    width: 200px;
    height: 50px;
  }

  & button {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bottom-hero {
  background-color: #f1f1f1;
  backdrop-filter: opacity(0.2);
  padding: 2rem;
  height: 200px;
  width: 375px;
  z-index: 2;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
}

.title-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-circles {
  margin-top: auto;
  display: flex;
  width: auto;
}

.bottom-circle:first-child {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("https://placehold.co/70x70");
}

.bottom-circle:nth-child(2),
.bottom-circle:nth-child(3) {
  margin-left: -20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--black);
  border: 5px solid #f1f1f1;
  background-image: url("https://placehold.co/60x60");
}


.airplane {
  position: absolute;
  width: 900px;
  height: 450px;
  right: -300px;
  rotate: -10deg;
  top: -80px;
  overflow: hidden;
  z-index: 3;
}

.bottom-hero-text {
  display: flex;
  margin-top: auto;
  gap: 15px;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;

  & h4 {
    font-size: 13px;
    color: var(--black);
  }

  & p {
    font-size: 12px;
    color: gray;
    font-weight: 400;
  }
}

.social-hero {
  display: flex;
  height: 18vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.socials {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  border: 1px solid rgb(224, 223, 223);
  padding: 20px;
  width: 300px;
  height: 80px;
  border-radius: 50px;

  & h3 {
    font-weight: 600;
  }
}

.circle-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(224, 223, 223);

  &:nth-child(3) {
    background-color: var(--primary);
    color: white;
    border: none;
  }
}

.associated {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: white;
  z-index: 3;
}

.sec2 {
  flex-direction: column;
  display: flex;
  height: 80vh;
}

.sec2-top {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  width: 100%;
  align-content: center;
  gap: 50px;
  margin-top: 50px;

  & h1 {
    font-size: 40px;
  }
}

.sec2-top-text {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & h1 {
    font-size: 40px;
    color: var(--black);
  }

  & p {
    font-size: 15px;
    color: gray;
    font-weight: 500;
  }
}

.arrows {
  display: flex;
  gap: 10px;
}

.arrow:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ededed;
  color: white;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--black);
  color: white;
}

.sec2-destinations {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 45vh;
  justify-content: space-between;
  width: 100%;
}

.destination {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & img {
    width: 400px;
    height: 250px;
  }

  & h1 {
    color: var(--black);
  }
}

.text-destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-left: 20px;

  & .position {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  & p {
    font-size: 15px;
    color: gray;
    font-weight: bold;
  }
}

.rating {
  background-color: var(--primary);
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  gap: 5px;

  & p {
    color: var(--second);
    font-weight: bold;
  }
}

.destination-cont {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.sec3 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .sec3-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;

    & h1 {
      font-size: 50px;
      color: var(--black);
    }
    p {
      width: 500px;
      color: gray;
      font-weight: 500;
    }
  }
}

.sec3-cards {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.lateral-card:first-child {
  display: flex;
  background-color: #f1f1f1;
  width: 400px;
  height: 300px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  backdrop-filter: opacity(0.2);
  flex-direction: column;

  & h1 {
    margin-top: auto;
    width: 150px;
    color: var(--black);
  }
}
.lateral-card {
  display: flex;
  background-color: #f1f1f1;
  width: 400px;
  height: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  backdrop-filter: opacity(0.2);
  flex-direction: column;

  & h1 {
    margin-top: auto;
  }
}

.lateral-card,
.center-card {
  padding: 60px;
}

.center-card {
  position: relative;
  background-color: var(--primary);
  width: 400px;
  height: 450px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  color: var(--second);
  overflow: hidden;

  & .p {
    font-weight: 300;
    line-height: 1.5;
  }

}

.p-bold {
  font-weight: bold;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.center-circle {
  border: 1px solid var(--second);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  
}

.learn-more {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.center-text {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.relative-circle {
  border: none;
  background-image: url("https://placehold.co/250");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-left: auto;
  position: absolute;
  right: -40px;
  top: -80px;
  background-color: var(--black);
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.sec4 {
  display: flex;
  height: 90vh;
  width: 100%;
}

.top-sec4 {
  display: flex;
  gap: 50px;

  & img {
    border-radius: 20px;
    width: 450px;
    height: 550px;
  }
}

.top-sec4-text {
  font-size: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & h1 {
    color: var(--black);
    font-weight: 600;
  }
  & p {
    font-size: 16px;
    color: gray;
    font-weight: 500;
  }
}

.first-text {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  
}

.second-text {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.third-text {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bottom-sec4 {
  display: flex;
}

.discount {
  width: 34%;
  background-color: #f1f1f1;
  height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  & h1 {
    font-size: 40px;
    color: var(--primary);
  }

  & p {
    color: gray;
    font-weight: 600;
  }
}

.book-flight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-image: url(https://placehold.co/871x100);
  width: 66%;
  height: 100px;
  border-radius: 20px;
  gap: 30px;
  
   & h1 {
    font-weight: 600;
   }
}

.sec5 {
  height: 40vh;
  display: flex;
  justify-content: space-between;
}

.about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 70px;
  backdrop-filter: opacity(0.2);
  border-radius: 50px;
  background-color: #f1f1f1;
  color: var(--black);
  
}

.about-us-desc {
  gap: 30px;
  display: flex;
  flex-direction: column;
  width: 900px;
  font-size: 25px;
  font-weight: 500;
}

.descriptions {
  display: flex;
}

.description {
  align-items: center;
  gap: 20px;
  width: 600px;
  display: flex;
  font-size: 14px;
  line-height: 1.5;
  color: gray;
  font-weight: 500;
}

.line {
  width: 20px;
  height: 100px;
  background-color: var(--primary);
}

.sec6 {
  height: 70vh;
  display: flex;
  justify-content: space-between;
}

.sec6-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f1f1f1;
  backdrop-filter: opacity(0.2);
  width: 400px;
  height: 400px;
  border-radius: 100px;

  & h1 {
    color: var(--primary);
    font-size: 120px;
    font-weight: 400;
  }

  & p {
    color: var(--black);
    font-size: 30px;
  }
}

.sec7 {
  text-align: center;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;

  
}

.sec7-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  
  & h1 {
    font-size: 50px;
    color: var(--black);
  }

  & p {
    color: gray;
    font-weight: 500;
  }
}

.sec7-box {
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  width: 350px;

  & p {
    color: gray;
    font-weight: 400;
  }
}

.sec7-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sec7-circle {
  background-color: #f1f1f1;
  backdrop-filter: opacity(0.2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec8 {
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  & h1 {
    font-size: 50px;
    color: var(--black);
  }
}

.reviews-cont {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.review {
  display: flex;
  background-color: #f1f1f1;
  backdrop-filter: opacity(0.2);
  width: 30%;
  height: 450px;
  border-radius: 30px;
  flex-direction: column;
  
}
.review-cont {
  display: flex;
  background-color: var(--second);
  height: 70%;
  width: 100%;
  border-radius: 30px;
  border: 5px solid #f1f1f1;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  color: gray;
  font-weight: 500;
  word-spacing: 2px;
}

.stars {
  display: flex;
  gap: 10px;
}

.sec8-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("https://placehold.co/70x70");
}

.review-bottom {
  display: flex;
  padding: 35px;
  align-items: center;
  gap: 20px;
}

.review-bottom-text {
  display: flex;
  gap: 3px;
  flex-direction: column;

  & h3 {
    font-weight: 600;
  }

  & p {
    color: gray;
    font-weight: 500;
  }
}

.sec9 {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.sec9-h1{
  width: fit-content;
  font-size: 20px;
}

.sec9-p {
  color: gray;
  font-weight: 500;
  width: fit-content;
}

.sec9-circle {
  flex-grow: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: url("https://placehold.co/150");
}

.bordered-circle {
  border: 1px solid var(--black);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

footer {
  background-color: #f1f1f1;
  backdrop-filter: opacity(0.2);
  height: 40vh;
  display: flex;
  padding: 70px 0 70px 0;
}

.footer-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: gray;
  font-weight: 400;
  text-align: left;
  justify-content: space-between;
}

.footer-content {
  margin: 0 7%;
  width: 100%;
}

.footer-socials {
  display: flex;
  gap: 15px;

  :nth-child(2) {
    background-color: var(--primary);
    border: none;
  }

  :nth-child(3) {
    background-color: transparent;
    border: 1px solid rgb(224, 223, 223);
  }
}

.footer-utils {
  color: var(--black);
  display: flex;
  gap: 28px;
  flex-direction: column;
  height: 100%;



}
.utils {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: gray;
  
  bottom: 30px;
  left: 0;
}
